<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>QQ空间社交网络图</title>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div id="relation" class="chart-container" style="width:100%; height:100%;"></div>
    <div id="ui" style="position: absolute; top: 10%">
        <label>
            用户QQ(使用逗号隔开):
            <input type="text" id="qq-input" />
            <button id="search">搜索</button>
        </label>
    </div>
    <script>
        // var result = '{{data|tojson}}';
        // console.log(result)
        // result = JSON.parse(result);
        // var data = result.V;
        // var links = result.E;
        // console.log(data);
        // console.log(links)
        function buildGraph(data, links) {
            var chart_relation = echarts.init(
                document.getElementById('relation'), 'white', { renderer: 'canvas' });
            var option_relation = {
                "animation": true,
                "animationThreshold": 2000,
                "animationDuration": 1000,
                "animationEasing": "cubicOut",
                "animationDelay": 0,
                "animationDurationUpdate": 300,
                "animationEasingUpdate": "cubicOut",
                "animationDelayUpdate": 0,
                "color": [
                    "#c23531",
                    "#2f4554",
                    "#61a0a8",
                    "#d48265",
                    "#749f83",
                    "#ca8622",
                    "#bda29a",
                    "#6e7074",
                    "#546570",
                    "#c4ccd3",
                    "#f05b72",
                    "#ef5b9c",
                    "#f47920",
                    "#905a3d",
                    "#fab27b",
                    "#2a5caa",
                    "#444693",
                    "#726930",
                    "#b2d235",
                    "#6d8346",
                    "#ac6767",
                    "#1d953f",
                    "#6950a1",
                    "#918597"
                ],
                "series": [
                    {
                        "type": "graph",
                        "layout": "force",
                        "symbolSize": 10,
                        "circular": {
                            "rotateLabel": false
                        },
                        "force": {
                            "repulsion": 500,
                            "edgeLength": 50,
                            "gravity": 0.2
                        },
                        "label": {
                            "show": false,
                            "position": "top",
                            "margin": 8
                        },
                        "lineStyle": {
                            "show": true,
                            "width": 1,
                            "opacity": 1,
                            "curveness": 0,
                            "type": "solid"
                        },
                        "roam": true,
                        "draggable": false,
                        "focusNodeAdjacency": true,
                        "data": data,
                        "categories": [
                            {
                                "name": "me",
                                "symbolSize": 50
                            },
                            {
                                "name": "poster",
                                "symbolSize": 35
                            },
                            {
                                "name": "liker",
                                "symbolSize": 10
                            }
                        ],
                        "edgeLabel": {
                            "show": false,
                            "position": "top",
                            "margin": 8
                        },
                        "edgeSymbol": [
                            null,
                            null
                        ],
                        "edgeSymbolSize": 10,
                        "links": links,
                        "tooltip": {
                            "show": false,
                            "trigger": "item",
                            "triggerOn": "mousemove|click",
                            "axisPointer": {
                                "type": "line"
                            },
                            "textStyle": {
                                "fontSize": 14
                            },
                            "borderWidth": 0
                        }
                    }
                ],
                "legend": [
                    {
                        "data": [
                            "me",
                            "poster",
                            "liker"
                        ],
                        "selected": {
                            "me": true,
                            "poster": true,
                            "liker": true
                        },
                        "show": true,
                        "padding": 5,
                        "itemGap": 10,
                        "itemWidth": 25,
                        "itemHeight": 14
                    }
                ],
                "tooltip": {
                    "show": true,
                    "trigger": "item",
                    "triggerOn": "mousemove|click",
                    "axisPointer": {
                        "type": "line"
                    },
                    "textStyle": {
                        "fontSize": 14
                    },
                    "borderWidth": 0
                },
                "title": [
                    {
                        "text": "QQ\u7a7a\u95f4\u597d\u53cb\u5173\u7cfb\u56fe",
                        "padding": 5,
                        "itemGap": 10
                    }
                ]
            };
            chart_relation.setOption(option_relation);
        }
    </script>
</body>
<script>
    var port = eval('{{data["port"]}}');
    var qq_input = document.getElementById('qq-input');
    var search = document.getElementById('search');
    search.onclick = () => {
        var suffix;
        if (qq_input.value.replace(/\s/g, '').length == 0) suffix = '';
        else suffix = '?qqs=[' + qq_input.value + ']';
        $.ajax({
            url: `http://localhost:${port}/api` + suffix,
            method: 'GET',
            success: (res) => {
                var result = JSON.parse(res);
                buildGraph(result.V, result.E);
            }
        })
    }
    search.onclick();
</script>

</html>