<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>QQ空间社交网络图</title>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <iframe frameborder="0" id="frame" src="/graph" width="100%" height="100%"></iframe>
    <div id="ui" style="position: absolute; top: 10%">
        <label>
            用户QQ(使用逗号隔开):
            <input type="text" id="qq-input" />
            <button id="search">搜索</button>
        </label>
    </div>
</body>
<script>
    var qq_input = document.getElementById('qq-input');
    var search = document.getElementById('search');
    var frame = document.getElementById('frame');
    search.onclick = () => {
        var suffix;
        if (qq_input.value.replace(/\s/g, '').length == 0) suffix = '';
        else suffix = '?qqs=[' + qq_input.value + ']';
        frame.setAttribute('src', frame.getAttribute('src').split('?')[0] + suffix)
    }
</script>

</html>